body {
  background-color: gray;
}
#grid {
  margin-top: 2rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  font-size: smaller;
}
.empty {
  background-color: white;
}
.tile{
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 2px;
  background-color: white;
}

.wall {
  height: 100%;
  width: 100%;
  display: block;
  background-color: black;
}
.hero {
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
}
.hero.you {
  background-color: aqua;
}
.hero.enemy {
  background-color: red;
}
.hero.dead {
  background-color: gray;
}